.fa-wine-bottle {
  font-size: 30px;
  color: #F3B844;
  padding: 10px;
}
.fa-sync{
 color: #265E5A;
 font-size: 30px;
 padding: 10px;
}
.fa-check{
  color: #265E5A;
}
.content-confirmation{
  text-align: center;
}

.echange-growler-confirmation{
display: flex;
padding: 20px;
align-items: center;
  p{
    margin: 0;
  }
}
