.image-homepage{
  width: 555px;
  height:555px;
}

.text-concept {
  background-color: white;
  padding: 30px;
  h2{
    color: #265E5A;
  }
}

.concept{
  display: flex;
}

.description{
  background-color:#C2C2C2;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 15px;
  text-align: center;
  z-index:1;
  h2{
    font-size: 50px;
  }
}

.front-content{
  position:relative;
  top: 70vh;
}

