.banniere-presentation {
background-color: $dark-gray;
  width: 100%;
  padding: 15px 150px 6px 150px;
  margin: 20px 0 30px 0;
  text-align: center;
  h1 {
    color: $yellow;
    text-align: center;
    font-size: 35px;
    text-transform: none;

  }
  p {
    color: white;
  }
}

.banniere-presentation-txt{
width: 85%;
margin: 0 auto;
}

.trait {
  border-bottom: 1px solid $yellow;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.container-gauche-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-right: 16px;
  width: 75%;
  justify-items: center;
}
