.container-gauche-collecte {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 16px;
  margin-right: 16px;
  width: 65%;

  form {
    text-align: center;
    width: 50%;    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    margin: auto;
    margin-bottom: 10px;
  }
  h1 {
    text-align: center;
  }
}

.container-droit-paiement{
  height: 480px;
  width: 25%;
  top: 40px;
  border-left: solid 1px;
  position: sticky;
  top: 30px;
  .titre-collecte{
    text-align:center;
    padding: 16px;
  }
}

.content-paiement{
  padding: 20px;
  text-align: center;
}

.paiement{
  text-align: left;
  strong{
    color: #265E5A;
  }
}
