<%= render 'shared/navbar' %>
  <div class="banniere-presentation">
      <div class="banniere-presentation-title">
        <h4>Les <%= @bieres.length %> bières du mois !</h4>
      </div>

      <div class="trait">
      </div>

      <div class="banniere-presentation-txt">
        <p>Chaque mois découvrez notre gamme de bières aux styles très différents ! Régionales, françaises ou internationales, faites votre choix et remplissez vos growlers. Il ne vous reste plus qu'à déboucher, verser, trinquer, partager et déguster ! Tchin ! </p>
      </div>
  </div>

  <div class="container-consignerie">

    <div class="container-gauche-index">
      <% @bieres.each do |biere| %>
        <%= render 'bierecard', biere: biere %>
      <% end %>
    </div>

    <div class="container-droit">

    </div>

  </div>

<%= render 'shared/footer' %>
