<h1>Liste des bières</h1>
<div class="container-split">
    <div class="cards">
        <% @bieres.each do |biere| %>
        <%= render 'bierecard', biere: biere %>
        <% end %>
    </div>

    <div class="layout-panier sticky-top">
        <%= render 'shared/layout_panier'%>
    </div>
</div>
