<div class="container-consignerie">
  <div class="container-gauche">
    <div class="carte-test">
      <p>Gauche - gauche</p>
    </div>
    <div class="carte-test">
      <p>Gauche - droite</p>
    </div>
    <div class="carte-test">
      <p>Gauche - gauche</p>
    </div>
    <div class="carte-test">
      <p>Gauche - droite</p>
    </div>
    <div class="carte-test">
      <p>Gauche - gauche</p>
    </div>
    <div class="carte-test">
      <p>Gauche - droite</p>
    </div>
    <div class="carte-test">
      <p>Gauche - gauche</p>
    </div>
    <div class="carte-test">
      <p>Gauche - droite</p>
    </div>
  </div>
  <div class="container-droit">
    <p>Droite</p>
  </div>
</div>
