 <div class="panier-contenu">
      Show commande
      <% @commande.commandeitems.each do |ci|%>
      <%= ci.item.nom  %>
      <%= ci.quantite  %>
      <% end %>
    </div>

<%= render 'shared/layout_panier' %>
<%= render 'shared/footer' %>
