<h1>All our brasseries</h1>
<ul>
    <% @brasseries.each do |brasserie| %>
<li>
    <%= brasserie.nom%>
    <%= brasserie.description%>
</li>

</ul>


      <%= link_to "More info", brasseries_path(brasserie), class: "btn btn-primary" %>
      </div>
      </div>
  <% end %>
</div>