<div class="banner">
  <h1>Welcome back <%= current_user.email %> !</h1>
    <p>La bière du mois, un coup de coeur de saison :</p>
    <a class="btn-yellow" href="#">Voir les bières</a>

    <%= link_to bieres_path, class: "banner-biere" do %>
    <%= image_tag 'bieredumois.png', class: "imagedumois" %>
    <% end %>
</div>
