<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/laconsignerie/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/laconsignerie/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/la-consignerie/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-contact">
    salut@consignerie.fr
  </div>
  <div class="footer-copyright">
    © 2019 Consignerie
  </div>
</div>
