<div class="md-stepper-horizontal orange">
  <% if active == 1  %>
    <div class= "md-step active editable">
      <%else %>
    <div class= "md-step">
  <% end %>
      <div class="md-step-circle"><span>1</span></div>
      <div class="md-step-title"><h2 class="new-h2">Tes growlers</h2></div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>

  <% if active == 2  %>
    <div class= "md-step active editable">
  <%else %>
    <div class= "md-step">
  <% end %>
      <div class="md-step-circle"><span>2</span></div>
      <div class="md-step-title"><h2 class="new-h2">Récap commande</h2></div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>

  <% if active == 3 %>
    <div class= "md-step active editable">
  <%else %>
    <div class= "md-step">
  <% end %>
      <div class="md-step-circle"><span>3</span></div>
      <div class="md-step-title"><h2 class="new-h2">Point de collecte <br> & paiement</h2></div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>

    <% if active == 4  %>
    <div class= "md-step active editable">
      <%else %>
    <div class= "md-step">
  <% end %>
      <div class="md-step-circle"><span>4</span></div>
      <div class="md-step-title"><h2 class="new-h2">Confirmation commande</h2></div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
</div>

