.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-left: 10px;
  padding: 5px;
}

.card-biere {
  overflow: hidden;
  background: white;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  width: 300px;
  height: 100%;
  padding: 10px;
  text-align: right;
  border-radius: 10px;
}

.relative{
  position: relative;
  padding: 0px;
  width: 300px;
  height: 300px;
  img{
    width: 150px;
    position: absolute;
    top: 30%;
    left: 0; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  }
}


.card-top {
text-align: right;
padding: 3px;
h2{
  line-height: 0.8;
}
h3{
  line-height: 0.8;
}
}


@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}