.card-biere {
background-color: white;
  width: 90%;
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 38px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a {
    text-decoration: none;
  }
}

.logo-picture-index {
  width: auto;
  height: 145px;
}

.logo-place-index {
  background-color: $white;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  position: absolute;
  top: -52.5px;
}

.interieur-carte-biere {
  width: 90%;
  position: absolute;
  top: 93px;
  padding: 15px;
}

.carte-biere-titres {
  text-align: center;
  h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: $green;
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 9px;
    }
  h3 {
    font-size: 19px;
    font-family: 'Karla', sans-serif;
    margin-bottom: 0px;
  }
}

.etoiles-notes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  .inline {
    padding: 0px;
  li {
    display: inline;
    color: $yellow;
    font-size: 10px;
  }
  #txt {
    color: black;
    font-size: 12px;
  }
}
}

.bas-card {
  border-top: 1px solid $light-gray;
  padding-top: 15px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


