.btn-yellow {
  background: $yellow;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  color: $black;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  a {
    color: black;
  }
  a:hover{
    text-decoration: none;
    color: black;
  }
}

.btn-gray {
  background: $dark-gray;
  text-align: center;
  padding: 9px 12px;
  text-decoration: none;
  color: $white !important;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  font-family: 'Karla', sans-serif;
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration: none;
}
