.card-biere {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 300px;
  &:hover{
    transition: 0.2;
    transform: scale(1.03);
  }
}