.container-gauche-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-right: 16px;
  width: 75%;
  justify-items: end;
}

.carte-biere {
  background-color: white;
  width: 410px;
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.interieur-carte-biere {
  background-color: white;
  width: 410px;
  height: 310px;
  padding: 15px;
}

.logo-picture-index {
  width: auto;
  height: 145px;
}

.logo-place-index {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  position: absolute;
  left: -72.5px;
}

.inline {
  margin-bottom: 15px;
  li {
    display: inline;
    color: $yellow;
    font-size: 15px;
  }
}

.carte-biere-titres {
  text-align: right;
  h2 {
    line-height: 33px;
  }
}
