h1 {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 64px;
  text-transform: uppercase;
}

h2 {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

h3 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

h4 {
  color: black;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

p {
  color: black;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
}
