.panier-titre{
  text-align: center;
  h2 {
    color:#265E5A;
  }
}

.panier-content form {
  text-align:center;
}

.panier-content{
  p{
    margin: 0;
    font-size: 14px;
  }
  .btn-yellow .hidden{
    display: none !important;
  }
  
}
.list-group-item{
  display: flex;
  justify-content: space-between;
}

.list-group .panierligne{
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin: 1px;
}

