.panier-titre{
  text-align: center;
  background-color: #dadddf;
}

.panier-content form {
  text-align:center;
}
.list-group-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group .panierligne{

}

.bierenom span{
  margin: 0;
}

.bierequantite span{
  margin:0;
}

.biereprix span{
  margin:0;
}
