.search-bar {
  width: 100%;
  margin-left: 25%;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#map {
  margin: 10px 0px 10px 0px;
  top: 0;
  bottom: 0;
  width: 100%;
}
