.navbar-dark{
  background: transparent;
  box-shadow: 0px 6px 5px 0px rgba(20,20,20,1);
  padding: 0;
  z-index: 2;
  .navbar-nav .nav-link{
    color:white;
  }
  .navbar-nav .active > .nav-link{
    color:white;
  }
  #navbarNavDropdown{
  margin-right: 30px;
  }
}

.navbar-light{
  background: transparent;
  box-shadow: 0px 6px 5px 0px rgba(20,20,20,1);
  padding: 0;
  .navbar-nav .nav-link{
    color:white;
  }
  .navbar-nav .active > .nav-link{
    color:white;
  }
  #navbarNavDropdown{
  margin-right: 30px;
  }
}

.navbar-brand img{
  width:140px;
}
.navbar-collapse{
  justify-content: flex-end;
  padding-right: 30px;
}
.nav-item a{
  color: white;
}
.nav-item{
  font-family: 'Saira Condensed', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

#navbarDropdownMenuLink{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    padding: 8px;
    text-decoration: none;
}
.dropdown-menu{
  a{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #265E5A;
    }
    border: none;
}
.dropdown-menu .panier .show{
  width: 230px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
  width: 230px;
}


