.show-biere {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: $white;
  margin-top: 100px;
  display: flex;
  align-items: top;
  position: relative;
  justify-content: space-around;
}

.btn-gray-show{
  position: absolute;
  top: -50px;
  right: 0px;
  background: $dark-gray;
  text-align: center;
  padding: 3px 9px;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration: none;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
  a{
    color: $very-light-gray;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
}

.logo-place {
  width: 200px;
  height: 100px;
  border-radius: 200px 200px 0 0;
  background: white;
  position: absolute;
  top: -100px;
}

.logo-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#mise-panier {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.container-interne {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding-top: 20px;
  width: 100%;
  height: auto;
  background-color: white;
}

.carte-droite {
  margin-top: 10px;
  grid-column-start: 4;
  grid-column-end: 6;
  background-color: $very-light-gray;
  padding: 16px;
  h2 {
    color: $green;
  }
  h3 {
   font-size: 22px;
  }
}
.container-droit-panier{
  margin-top: 115px;
  height: 480px;
  width: 25%;
  top: 0;
  position: sticky;
}

#panier-show {
  text-align: right;
  padding-top: 40px;
  background-color: white;
}

.carte-gauche {
  margin-top: 10px;
  margin-right: 10px;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 16px 16px 0 16px;
  background-color: $very-light-gray;
  h2 {
    font-size: 40px;
    line-height: 45px;
    color: $green;
  }
  h3 {
    line-height: 25px;
    font-size: 20px;
  }
  p {
    font-size: 16px;
    color: black;
  }
}

#nom {
   background-color: white;
  p {
  color: $green;
  }
}

#brs-g {
  margin-right: 0px;
}

#brs-d {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brasserie-picture {
  margin-top: 25px;
  height: 180px;
}

.carte-middle{
  margin-top: 10px;
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 16px 16px 0 16px;
  background-color: $very-light-gray;
   h2 {
    font-size: 40px;
    line-height: 45px;
    color: $green;
    margin-bottom: 5px;
  }
}

.haut-carte-middle {
  border-bottom: 1px solid $dark-gray;
  margin-bottom: 10px;
}

.btn-et-titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-sur-cinq {
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 10px;
    color: $dark-gray;
}

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .container-gauche-show {
    grid-template-columns: 1fr;
  }
  .show-biere {
  grid-column-start: 1;
  grid-column-end: 1;
  }
  .container-interne {
  grid-template-columns: 100%;
  }
  .carte-gauche {
  grid-column-start: 1;
  grid-column-end: 1;
  }
  .carte-droite {
  grid-column-start: 1;
  grid-column-end: 1;
  }
  #nom {
  margin-top: 60px;
  text-align: center;
  }
  #brs-d {
    margin-top: 0;
  }
  .container-droit {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .container-gauche-show {
    grid-template-columns: 1fr;
  }
  .show-biere {
  grid-column-start: 1;
  grid-column-end: 1;
  }
  .container-interne {
  grid-template-columns: 100%;
  }
  .carte-gauche {
  grid-column-start: 1;
  grid-column-end: 1;
  }
  .carte-droite {
  grid-column-start: 1;
  grid-column-end: 1;
  }
  #brs-d {
    margin-top: 0;
  }
  .container-droit {
    display: block;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .container-gauche-show {
    grid-template-columns: 1fr 1fr;
  }
  .show-biere {
  grid-column-start: 1;
  grid-column-end: 3;
  }
  .container-interne {
  grid-template-columns: 20% 20% 20% 20% 20%;
  }
  .carte-gauche {
  grid-column-start: 1;
  grid-column-end: 4;
  }
  .carte-droite {
  grid-column-start: 4;
  grid-column-end: 6;
  }
  #brs-d {
    margin-top: 10px;
  }
  .container-droit {
    display: block;
  }
}

