<%= render 'shared/stepper', active: 3 %>

<div class="container-consignerie-pointcollect">
  <div>
    <h1>Point de collectes</h1>
  </div>
  <div class="class=" date_souhaitee">
    <form>
      <h4 for="inputAddress">Date souhaitée</h4>
      <input type="date" class="form-control">
      <input class="input" type="hidden" name="add2L" value="test">
    </form>
  </div>
  <%= render 'shared/map'%>
</div>