<%= render 'shared/stepper', active: 3 %>
<div class="container-consignerie">

  <div class="container-gauche">
    <h1>Point de collectes</h1>
    <%= link_to "Paiement",  new_user_commande_payment_path(current_user, params[:commande_id]), class:"btn-yellow" %>
  </div>

  <div class="container-droit-panier">

  </div>
</div>



