  <div class="reviews">
    <div class="creation-info">
      <h5> <%= review.user.prenom.capitalize %></h5>
      <div class="stars">
      </div>
      <h6 class="card-subtitle mb-2 text-muted"><%= review.created_at %></h6>
    </div>
  </div>

  <div class="description">
      <p><%= review.contenu %></p>
  </div>

</div>
