<div style="width: 70%; margin: 0 auto; background-color: rgb(255,255,255); border: solid #265e5a 2px; text-align: center;">

  <div style="text-align: center; width: 100%; display: flex; justify-content: center; align-items: center; padding-top: 10px; padding-bottom: 10px; background-color: #265e5a">
  <div><%= cl_image_tag "https://res.cloudinary.com/dg5ekyjef/image/upload/v1560352003/logo-carre_ibnq5q.png", style:"height: 30px; padding-left: 10px"%></div>
  <div style="font-family: 'Roboto Condensed', sans-serif; font-weight: bold; font-size: 20px; color: #ffffff; padding-left: 10px; text-align: center;">LA CONSIGNERIE</div>
  </div>

  <div style="text-align: center; padding-top: 10px; padding-bottom: 23px; text-align: center; font-family: font-family: 'Karla', sans-serif;">
    <h2 style="text-align: center; color: #265e5a; font-size: 20px;">Hello <%= @commande.user.prenom %>,</h2>
    <p style="text-align: center; font-size: 18px; padding-right: 10px; padding-left: 10px;">
      Merci pour ta commande !
      <br>
      N'oublie pas de venir la récupérer <!-- le <%= @commande.date_souhaitee %> -->au point de collecte : <%= @commande.pointcollecte.full_address%>
      <br>
      <br>
      A bientôt !</p>
    <h2 style="text-align: center; color:#265e5a; font-size: 23px">L'équipe de La Consignerie</h2>
  </div>

 </div>
